@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(55, 65, 81);
  color: rgb(229, 231, 235);
}

@layer base {
  .rounded-btn {
    @apply rounded-full border-2 grid place-items-center p-2 outline-none;
  }

  .tag-active {
    @apply text-sm border border-green-500 bg-green-500 w-max p-1 px-3 rounded-md text-gray-700 font-medium select-none cursor-pointer;
  }
  .tag {
    @apply text-sm border border-gray-400 w-max p-1 px-3 rounded-md text-gray-400 font-medium select-none cursor-pointer;
  }

  .link-active {
    @apply p-2 px-6 cursor-pointer border-b-2 border-gray-300;
  }
  .link {
    @apply p-2 px-6 cursor-pointer;
  }
}
